.messages p{
    padding: 16px 48px;
    
    min-width: 460px;
    transition: 400ms;
    
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    color: white;

    position: fixed;
    z-index: 1;

    left: 50%;
    transform: translateX(-50%);

    height: 24px;
    top: 16px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.295);
    
}
.messages .import-success{
    background: rgb(103, 230, 103);
}
.messages .import-failed{
    background: rgb(230, 103, 103);
}