.hidden{
    opacity: 0;
    pointer-events: none;
}
.import-container{
    background-color: rgba(0, 0, 0, 0.315);

    transition: 200ms;

    position: absolute;
    z-index: 999;
    width: 100%;
    min-height: 100%;
    padding-bottom: 16px;

    display: flex;
    justify-content: center;
}
.import-box{
    margin: 48px 12px 0;
    background: whitesmoke;
    min-height: 256px;
    padding: 48px 48px 58px;
    border-radius: 12px;
    width: 660px;
    max-height: 460px;
}
.import-box .header-import{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.import-box .header-import svg.import-close{
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.content-import{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.content-import textarea{
    width: 100%;
    background: rgb(238, 237, 237);
    border: none;
    min-height: 240px;
    border-radius: 12px;
    padding: 16px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}
.content-import button{
    background: black;
    border: none;
    border-radius: 8px;
    padding: 12px 32px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#upload-file {
    display: none; 
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
    transition: background-color 0.3s;
}